target/classes/project1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="2d931d02-9487-491e-a605-4d17e5c7f44b" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="project1Flow" doc:id="0698e7c6-dec1-47bc-adf4-82a88ef6125f" >
		<http:listener doc:name="Listener" doc:id="065d6a5d-fe9d-44cd-8eda-a47295707f46" config-ref="HTTP_Listener_config2" path="employee"/>
		<set-variable value="radha" doc:name="Set Variable" doc:id="25a8c0a8-7032-4b2c-89a3-a352d035e796" variableName="name"/>
		<set-variable value="post" doc:name="Set Variable" doc:id="1185b1f5-5987-472c-9445-340177169829" variableName="method"/>
		<set-variable value="24" doc:name="Set Variable" doc:id="0d88d635-756a-4bea-90b0-9a547be4bac7" variableName="rollno"/>
		<file:read doc:id="e5d38e0e-6d8b-4c3c-b244-8c5e90af6d80" path="C:\Users\nilam\OneDrive\Documents\Nilu\MuleSoft\MuleSoftLearnig.pdf"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="eb44d3d6-9395-410c-b932-83ccb6769bd5" />
	</flow>
</mule>
